
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlienLabel">Create or edit a Alien</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alien.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.alien.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.alien.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dnaOne">Dna One</label>
            <input type="number" class="form-control" name="dnaOne" id="field_dnaOne"
                    ng-model="vm.alien.dnaOne"
                    min="1"/>
            <div ng-show="editForm.dnaOne.$invalid">
                <p class="help-block"
                    ng-show="editForm.dnaOne.$error.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.dnaOne.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dnaTwo">Dna Two</label>
            <input type="number" class="form-control" name="dnaTwo" id="field_dnaTwo"
                    ng-model="vm.alien.dnaTwo"
                    min="1"/>
            <div ng-show="editForm.dnaTwo.$invalid">
                <p class="help-block"
                    ng-show="editForm.dnaTwo.$error.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.dnaTwo.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_avatar">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                    ng-model="vm.alien.avatar"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
